h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

header.title {
    text-align: center;
}

table {
    border-color: rgb(201, 86, 20);
    border-style: solid;
    border-width: 5px;
}

thead {
    background-color: rgb(205, 163, 86);
}

th {
    border: 1px solid black;
    padding: 5px;
}

td>figure>img{
max-width: 30vw;
}

tr td {
    border: 1px solid black;
    padding: 5px;
}

p {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

p.left-shift {
    text-align: left;
}

p.right-shift {
    text-align: right;
}

aside {
    /* Change float to better alternative!!! */
    /*float: right; */
    max-width: 300px;
}

aside>img {
    max-width: 100%;
}

section.photos img {
/* float: left; */
max-width: 30vw;
}


section.behaviors img {
    max-width: 50vw;
}

section.diet img {
    max-width: 30vw;
}

section.fossils img{
    max-width: 60vw;
}

section.fun-facts li {
    font-size: 25px;
}